@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Fuzzy+Bubbles&family=Kaushan+Script&family=M+PLUS+Rounded+1c:wght@100&family=Varela+Round&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Varela Round', Tahoma, Verdana;
    font-size: 22px;

}

body{
    background-color:rgba(212, 212, 212, 0.3);
}

/*  10 - More Centering*/
    /* #hero-msg = #fisrt_message_visitors*/
.a{
    text-align: center;
    
}

#My_logo_rafting{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
}

#Welcome_box{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
     grid-template-rows: 1fr;
    margin-top: -100px; 
   
    
}
#place_image_welcome{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#image_welcome
{
    width: 100%;
    height: 100%;
    object-fit:cover;
}


#fisrt_message_visitors{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#fisrt_message_visitors h1, #fisrt_message_visitors h4{
    text-align: center;
    
}

.button-box{
    text-align: center;
}

.body_page{
    text-align: center;

}

/* 11- Adding a container for our message background */
#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

/* 12 Setting background colors*/




header{
   /* background-color:rgba(59, 97, 219, 0.3);*/
    background-color:rgba(88, 52, 46, 0.3);
    display: grid;
    grid-template-columns: 150px auto;

   
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    /*background-color:rgba(59, 96, 219, 0);*/
   /* background-color: skyblue;*/
    text-decoration: none;
    color: white;
    font-size: 19px;   
    padding: 35px;
}
nav a:hover{
    background-color:  lightgreen   ;
    color: rgba(0, 0, 0, 0.6);
    font-size: 21px;
}

.book, .join{
    background-color: skyblue;
    text-decoration: none;
    color:  black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color:  lightgreen   ;
    color: rgba(142, 45 ,45, 1);
}


#background{
    max-block-size: none;
    background-color: rgba(142, 45 ,45, 0.5) ;
}

footer{
    background-color:rgba(59, 97, 219, 0.1);
    color: rgba(142, 45 ,45, 1);
    /*color: black;*/
}

.home-title{
/*color: rgba(142, 45 ,45, 1);*/
color: rgba(217, 194 ,163,1);
font-family: 'Fuzzy Bubbles',Tahoma, Verdana;
font-size:  2.5em;
margin-top: 10px;

}

h4{
    color: rgba(142, 45 ,45, 1);
   /*color: rgba(217, 194 ,163,1);*/
   margin-top: 48%;
   font-size: 110%;
   background-color: rgba(217, 194 ,163,0.4);;
}

h2{
    margin: 0;
}
.msg{
    background-color:rgba(223, 227, 240, 1);
    line-height: 1.2em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7 ;
    box-shadow: 5px 5px 10px #6f7364;
   

}

.msg h2{
color: rgba(59, 97, 219, 1);
font-size: 100%;

}

.msg p{
color:rgba(59, 97, 219, 1); 
/*font-size: 1.3em;*/
font-size: 50%;
/*padding-bottom: 15px;*/


}

footer{
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: rgba(142, 45 ,45, 1);
}

footer p {
    font-size: 85%;
}

footer p a:hover{
    color: white;
    background-color:  rgba(142, 45 ,45, 1);
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

.river_image, .camping_image, .rapids_image {
    margin: auto 0;
}

.card-img {
    border: 10px solid rgba(142, 45 ,45, 0.5);
    width: 100%;
    height: 100%;
}


.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
             


.body_page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    /*grid-template-rows: 100px auto 100px 100px 50px auto 50px 50px 100px ; */
    grid-template-rows: 100px auto 100px 100px auto auto auto 100px 100px;
}

main section img {
    box-sizing: border-box;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.river_image{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping_image{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids_image{
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #6f7364;  
}

/* ****************************************************************************************************** */

@media screen and (max-width: 900px) {
    #Welcome_box, .body_page {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #Welcome_box {
        margin-top: 0;
    }
    #fisrt_message_visitors {
        margin-top: 0;
    }
    #fisrt_message_visitors h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .river_image, .camping_image .rapids_image { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            

