@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
.content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: Kiwi Maru, Helvetica, sans-serif;
    font-size: 22px;
}

body {
    background-color: rgba(62, 108, 106, 0.6);
}

/********************** HEADER ***************************/
.content1{
    max-width: 1600px;
    margin: 0 auto;
    font-family: Kiwi Maru, Helvetica, sans-serif;
    font-size: 22px;

}

.header_pages {
    background-color: rgba(248, 78, 0, 0.9);
    display: grid;
    grid-template-columns: 150px auto; 
}

.p2_logo{
    width: 80%;
    margin-left: 5%;
    margin-top: 2%;
}

.header_pages nav a{
    /*background-color:rgba(59, 96, 219, 0);*/
   /* background-color: skyblue;*/
    text-decoration: none;
    color: black;
    font-size: 19px;

}
.header_pages nav a:hover{
    background-color:  #6E816E   ;
    color: white;
    font-size: 110%;

}

.header_pages nav {

    padding: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.title_pages{
    font-style: italic;
    font-size: 90%;
    text-align: center;
    margin: auto;
}


/***************************** footer ***********************/ 
footer {
    display: grid;
    grid-template-columns: 15px auto 0.6fr auto 25px auto 15px;
    grid-template-rows: 15px auto auto auto auto 35px ;
    grid-gap: 10px;
}
.footer_backg {
    grid-column: 1/8;
    grid-row: 1/7;
    z-index: -1;
    background-color: rgba(188, 188, 188, 0.9);
    border: 8px solid rgba(0, 0, 0, 0.55);
    

}

.link {
    font-size: 90%;
    grid-column: 2/3;
    grid-row: 2/3;
}

.contact_us{
    grid-column: 4/5;
    grid-row: 2/3;
    font-size: 90%;
}

.list_link{
    grid-column: 2/3;
    grid-row: 3/6;

}
.list_link a{    text-decoration: none; color: black;}

.list_link a:hover{     color: white;
    background-color: #6E816E;
    margin: 0.5%; }

.text_contact{   
     grid-column: 4/5;
    grid-row: 3/6;


}

.footer_icon{
    grid-column: 6/7;
    grid-row: 2/4; 
    text-align: center;


}
.footer_icon img{ width: 20%;  }
.footer_icon h2{ font-size: 80%; }

.social_media{
    grid-column: 6/7;
    grid-row: 4/5;
    text-align: center;
    align-items: center;
}
.social_media a{     text-decoration: none;} footer .social_media img{   padding-top: 15px;}

.footer_text{
    grid-column: 6/7;
    grid-row: 6/7;
    font-size: 85%;
    text-align: center;

}

/********************** ANIME WORLD*************************** */

#movies1{
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px ;
    grid-template-rows: 20px 200px 200px 200px 100px 100px;

}
#fraction{ 
       grid-column: 1/8;
    grid-row: 6/7;

}

.movies1_backg{
    grid-column: 1/10;
    grid-row: 1/7;
    width: 100%;
    z-index: -2;
}

.movies1_1{
    grid-column: 2/3;
    grid-row: 2/5; text-align: center;
 
}
.movies1_2{
    grid-column: 4/5;
    grid-row: 2/5; text-align: center;
}
.movies1_3{
    grid-column: 6/7;
    grid-row: 2/5;     text-align: center;
}

.movies1_4{
    grid-column: 8/9;
    grid-row: 2/5;     text-align: center;
}


.mbg1{
    grid-column: 2/3;
    grid-row: 2/5; 
    z-index: -1;
    background-color: #3E6C6A;}

.mbg2{   
    grid-column: 4/5;
    grid-row: 2/5; z-index: -1;     background-color: #3E6C6A;}

.mbg3{    
    grid-column: 6/7;
    grid-row: 2/5; z-index: -1;     background-color: #3E6C6A;   }

.mbg4{    
    grid-column: 8/9;
    grid-row: 2/5; z-index: -1;     background-color: #3E6C6A;   }
/*  **** h3 ** */

.movies1_1 h3{
    grid-column: 2/3;
    grid-row: 2/3;
  
}
.movies1_2 h3{
    grid-column: 4/5;
    grid-row: 2/3;
 
}
.movies1_3 h3{
    grid-column: 6/7;
    grid-row: 2/3;
 
}
.movies1_4 h3{
    grid-column: 8/9;
    grid-row: 2/3;
 
}

/* *** img ** */

.movies1_img1{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 70%;
    margin: auto;
    border: 12px solid rgba(188, 188, 188,1);
 
}

.movies1_img2{
    
    grid-column: 4/5;
    grid-row: 3/4;
    width: 70%;
    margin: auto;
    border: 12px solid rgba(188, 188, 188,1);

}

.movies1_img3{
    grid-column: 6/7;
    grid-row: 3/4;
    width: 60%;
    margin: auto;
    border: 12px solid rgba(188, 188, 188,1);

}


/* p */

.movies1_p1{ 
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    background-color: #3E6C6A;
    font-size: 90%;

  
}

.movies1_p2{ 
    grid-column: 4/5;
    grid-row: 4/5;
    text-align: center;
    background-color: #3E6C6A;  font-size: 90%;
    
 
}

.movies1_p3{    
     grid-column: 6/7;
    grid-row: 4/5;
    text-align: center;
    background-color: #3E6C6A;  font-size: 90%;
   
  
}

.movies1_p4{    
    grid-column: 8/9;
   grid-row: 4/5;
   text-align: center;
   background-color: #3E6C6A;

}




/*           movies2          */
.movies2{
    display: grid;
    grid-template-columns: 20px auto 50px auto 20px;
    grid-gap: 5px;
    border: 8px solid  rgba(188, 188, 188, 1);
    
}

.m2_backg{
    grid-column: 1/6;
    grid-row: 1/2;
    z-index: -1;
    background-color: azure ;

}

.m2_parag{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size:  100%;
    text-align: center;
    margin-top: 10%;
    
}
.m2_img{
    grid-column: 4/5;
    grid-row: 1/2;
    width: 85%;
    margin: auto;
    padding: 25px;

}








